:root {
  --dark-color1: #111111;
  --dark-color2: #232323;
  --dark-color3: #343434;
  --dark-color4: #212529;
}

.bg-dark-1,
body,
.sticky-header.fixed-header,
.page-wrapper,
.header-style-three.v1 .header-lower,
.about-section .image-column .inner-column .image-box .play-box .icon {
  background-color: var(--dark-color1);
}

.bg-dark-2,
.header-style-three .header-top,
.header-style-three .header-lower .main-box .logo-box,
.header-style-three .header-lower::before,
.header-style-two .header-top,
.service-block .inner-box,
.process-block .inner-box,
.testimonial-block .inner-box,
.pricing-block .inner-box,
.contact-block .inner-box .icon-box,
.contact-section .form-column .inner-column,
.news-block .inner-box .content-box,
.testimonial-section .slick-dots li,
.service-block-two .inner-box,
.about-block-two .inner-box,
.about-section-two .image-column .inner-column .image-box .exp-box,
.project-section-two,
.testimonial-block-two .inner-box,
.testimonial-section-two .slick-dots li,
.news-block-two .inner-box .content-box {
  background-color: var(--dark-color2);
}

.process-block .inner-box:before {
  border-bottom-color: var(--dark-color2);
}

.services-section-two .bg:before {
  background: var(--dark-color2);
}

.process-block-two .inner-box {
  padding: 30px 30px 0;
}

.feature-block-two .inner-box .icon:after,
.testimonial-section-two .funfact-column .inner-column:before {
  border-left-color: var(--dark-color2);
}

.bg-dark-3,
.header-style-three .header-lower .logo-box:before {
  background-color: var(--dark-color3);
}

.fun-fact-section .image-column .inner-column:before {
  background: var(--dark-color3);
}

.bg-dark-4,
.range-slider-one .ui-widget-content .ui-state-default,
.fact-counter {
  background-color: var(--dark-color4);
}

.contact-form-two:before,
.contact-form-two:after {
  border-bottom-color: var(--dark-color3);
}

.main-menu .navigation > li > a,
.main-menu .navigation > li.current > a,
strong,
.title a,
h2,
h6,
.sec-title h2,
.process-block .inner-box .content-box .title,
.project-section .slider-btn button i,
.process-block-two .inner-box .content-box .title {
  color: var(--theme-color-light) !important;
}

.text-lights,
p,
.text,
.testimonial-block .inner-box .content-box .text,
.testimonial-block .inner-box .content-box .auther-info .info-box span,
.pricing-block .inner-box .list-sec .list li,
.news-block .inner-box .content-box .post li,
.accordion-box .block .acc-content .content .text,
.about-section-two .content-column .inner-column .list li,
.testimonial-block-two .inner-box .content-box .auther-info .info-box span,
.news-block-two .inner-box .content-box .post li {
  color: rgba(255, 255, 255, 0.6);
}

.bg-dark-text-light,
.project-section .slider-btn button,
.choose-us-section .image-column .inner-column .exp-box,
.faqs-section .accordion-box .block.active-block .acc-btn,
.accordion-box .block.active-block,
.contact-banner-two .outer-box .theme-btn-v2,
.faqs-section-two .accordion-box .block,
.faqs-section-two .accordion-box .block .acc-btn,
.faqs-section-two .accordion-box .block.active-block .acc-btn {
  background-color: var(--theme-color-dark);
  color: var(--theme-color-light);
}

.process-block .inner-box .title::before {
  border-right-color: var(--theme-color-dark);
}

.about-section-two .image-column .inner-column .exp-box .inner:before {
  border-top-color: var(--theme-color-dark);
}

/*	Border Color */
.border-color,
.service-block .inner-box,
.process-block .inner-box,
.testimonial-block .inner-box,
.contact-banner-two .outer-box .theme-btn-v2.two,
.footer-style-one .about-widget .subscribe-form-two .form-group input[type=email],
.process-block-two .inner-box,
.why-choose-us-two .content-column .inner-column .btn-box .contact-btn i,
.testimonial-block-two .inner-box {
  border-color: #2c2a2a;
}

.process-block-two .inner-box .content-box::before {
  background-color: #2c2a2a;
}

.op-2 {
  opacity: 0.2;
}

.bg-unset {
  background-color: unset;
}

.services-section-two {
  background-image: unset;
}

.service-section {
  background-image: url(../images/background/bg1-1-dark.jpg);
}

.project-section {
  background-image: url(../images/background/bg-2-dark.jpg);
}

.img-light,
.about-block-two .inner-box-two img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}